# YouTube Requirements
google-api-python-client
google-genai
pandas
ipykernel
ipywidgets
nltk
html2text
wordcloud
transformers
torch
lingua-language-detector
deep_translator
pydantic
devtools
beautifulsoup4
praw
